table {
    width: 100%;
}

.loading-indicator {
    width: 100px;
}
.pointer {
    cursor: pointer;
}
.main-div::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background: #58b747;
    box-shadow: 0 0 25px -10px #000;
}

.main-div::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background: #58b747;
    box-shadow: 0 0 25px -10px #000;
}
.login-form {
    position: absolute;
    width: 50%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 0;
}

.logout {
    width: 20%;
    background: #58b747;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s;
}
