<div class="main-div">
  <div class="login-form">
    <div style="display: flex;justify-content: space-between;">
      <h1 class="title">User List</h1>
      <button class="logout" (click)="adduser()" style="margin-bottom: 20px;">Add User</button>
    </div>

    <div style="text-align: end;
    margin-bottom: 20px;">
      <button class="logout" (click)="logout()">logout</button>
    </div>


    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="SRNO">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element;let i=index"> {{i + 1}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="pointer" (click)="edit(element)">edit</mat-icon>
          <mat-icon class="pointer" (click)="delete(element)">delete_forever</mat-icon>

          <mat-icon class="pointer" (click)="details(element)">book</mat-icon>

        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>


<!-- <ngx-spinner bdColor="#00041aa6" size="default" color="##d7779b"
  template="<img src='../../assets/loading-buffering.gif' class='loading-indicator'/>" [fullScreen]="true">
</ngx-spinner> -->

<ngx-spinner bdColor="#00041aa6" size="default" color="##d7779b"
  template="<img src='../../../assets/loading-buffering.gif' class='loading-indicator'/>" [fullScreen]="true">
</ngx-spinner>