


body {
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

.main-div::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background: #58b747;
    box-shadow: 0 0 25px -10px #000;
}

.main-div::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background: #58b747;
    box-shadow: 0 0 25px -10px #000;
}

.login-form {
    position: absolute;
    width: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 0;
}

.profile {
    text-align: center;
    margin-bottom: 50px;
}

.profile img {
    width: 70px;
    border-radius: 100%;
}

.login-form h1 {
    text-align: center;
}

form label {
    display: block;
    font-size: 15px;
    color: grey;
}

form input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #000;
    margin-bottom: 25px;
    padding: 5px 0;
    font-size: 16px;
    outline: none;
    transition: all .2s;
}

form input:focus {
    border-bottom-color: #58b747;
}

form button {
    width: 100%;
    background: #58b747;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    transition: all .3s;
}

form button:hover {
    box-shadow: 0 0 25px -10px #000;
}

.forgot-pass {
    display: block;
    text-align: center;
    color: grey;
    text-decoration: none;
    transition: all .3s;
    font-size: 14px;
    margin: 20px 0 10px;
}

.forgot-pass:hover {
    color: #58b747;
    text-decoration: underline;
}