
<div class="main-div">
    <div class="login-form">
        <h1 class="title">Welcome</h1>

       
        <form  validate [formGroup]="LoginForm" (key.enter)="login()">
            <label for="name">Email</label>
            <input type="text" type="email" name="email" formControlName="email" [(ngModel)]="email" 
            placeholder="Enter Email Address" id="email">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>

            <label for="password">Password</label>
            <input type="password" name="password" formControlName="password" [(ngModel)]="password" 
            placeholder="Enter Password">
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
            <button type="submit" (click)="login()" >Login</button>
        </form>

        <a href="signup" class="forgot-pass">Create New Account?</a>
    </div>
</div>

<ngx-spinner bdColor="#00041aa6" size="default" color="##d7779b"
    template="<img src='../../assets/loading-buffering.gif' class='loading-indicator'/>" [fullScreen]="true">
</ngx-spinner>