<div class="main-div">
    <div class="login-form">
        <h1 class="title">Edit User</h1>
        <form validate [formGroup]="LoginForm" (key.enter)="login()">
            <label for="name">User name</label>
            <input type="text" name="firstName" formControlName="firstName" [(ngModel)]="firstName"
                placeholder="Enter name" id="firstName">
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">Name is required</div>
            </div>

            <label for="password">Description</label>
            <input type="text" name="description" formControlName="description" [(ngModel)]="description"
                placeholder="Enter description">
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">Description is required</div>
            </div>
            <input type="file" class="file-upload" formControlName="userimage" [(ngModel)]="userimage"
                (change)="filechange($event)">
            <button type="submit" (click)="login()">Edit User</button>
        </form>
    </div>
</div>
<ngx-spinner bdColor="#00041aa6" size="default" color="##d7779b"
    template="<img src='../../assets/loading-buffering.gif' class='loading-indicator'/>" [fullScreen]="true">
</ngx-spinner>