<div class="list-view" *ngIf="userdata">
    <div class="list-header">
        <div>
            <span>Email</span>
        </div>
        <div>
            <span>{{userdata.email}}</span>
        </div>

    </div>


    <div class="list-body">
        <div>
            <span>Name</span>
        </div>
        <div>
            <span> {{userdata.name}}</span>
        </div>


    </div>

    <div class="list-header">
        <div>
            <span>Description</span>
        </div>
        <div>
            <span>{{userdata.description}}</span>
        </div>

    </div>


    <div class="list-body">
        <div>
            <span>profile_photo</span>
        </div>
        <div>
            <img [src]="userdata.profile_photo" onError="this.src='assets/profile.png' ">
        </div>


    </div>
</div>
<ngx-spinner bdColor="#00041aa6" size="default" color="##d7779b"
    template="<img src='../../../assets/loading-buffering.gif' class='loading-indicator'/>" [fullScreen]="true">
</ngx-spinner>