// .list-view {
//     margin-top: 18px;
//     .list-header {
//         margin-bottom: 13px;
//         padding: 11px 20px;
//         background: #1f1e47;
//         border: 1px solid #fff;
//     }
//     .list-header,
//     .list-body {
//         display: flex;
//         align-items: center;
//         border-radius: 5px;
//         justify-content: flex-start;
//         span {
//             color: #fff;
//             font-size: 15px;
//             letter-spacing: 0.3px;
//             font-weight: 600;
//         }
//         .dates {
//             width: 18%;
//         }
//         .assign {
//             width: 49%;
//             display: flex;
//             align-items: center;
//             svg {
//                 width: 17px;
//                 margin-right: 10px;
//             }
//         }
//         .action {
//             width: 11%;
//         }
//     }
//     .list-body {
//         background: #58b747;

//         padding: 10px 20px;
//         margin: 9px;
//         min-height: 41px;
//         transition: all 0.3s;
//         cursor: pointer;
//         span {
//             color: #000;
//             width: 90%;
//         }
//     }
// }
.list-view {
    margin-top: 18px;
    .list-header {
        display: flex;
        margin-bottom: 13px;
        padding: 11px 20px;
        background: #1f1e47;
        border: 1px solid #fff;
        div {
            padding: 6px 50px;
            span {
                color: #fff;
            }
        }
    }
    .list-body {
        display: flex;
        margin-bottom: 13px;
        padding: 11px 20px;
        background: #58b747;
        border: 1px solid #fff;
        div {
            padding: 6px 50px;
            span {
                color: #fff;
            }
            img {
                width: 70px;
                border-radius: 100%;
            }
        }
    }
}
