<div class="main-div">
    <div class="login-form">
        <h1 class="title">Create User</h1>
        <form validate [formGroup]="LoginForm" (key.enter)="login()">
            <label for="name">User name</label>
            <input type="text" name="firstName" formControlName="firstName" [(ngModel)]="firstName"
                placeholder="Enter name" id="firstName">
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">Name is required</div>
            </div>
            <label for="name">Email</label>
            <input type="text" type="email" name="email" formControlName="email" [(ngModel)]="email"
                placeholder="Enter Email Address" id="email">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
            <label for="password">Password</label>
            <input type="password" name="password" formControlName="password" [(ngModel)]="password"
                placeholder="Enter Password">
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
            <label for="password">Confirm Password</label>
            <input type="password" name="confirmPassword" formControlName="confirmPassword"
                [(ngModel)]="confirmPassword" placeholder="Enter confirm password">
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
            </div>
            <label for="password">Description</label>
            <input type="text" name="description" formControlName="description" [(ngModel)]="description"
                placeholder="Enter description">
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">Description is required</div>
            </div>
            <input type="file" class="file-upload" formControlName="userimage" [(ngModel)]="userimage"
                (change)="filechange($event)">
            <button type="submit" (click)="login()">Create User</button>
        </form>
    </div>
</div>
<ngx-spinner bdColor="#00041aa6" size="default" color="##d7779b"
    template="<img src='../../assets/loading-buffering.gif' class='loading-indicator'/>" [fullScreen]="true">
</ngx-spinner>